.advice_1 {
  display: flex;
  align-items: center;
  flex-direction: row; /* Keep horizontal direction */
  margin-bottom: 140px;
}

.advice_1 img, .advice_2 img ,.advice_3 img, .advice_4 img {
  width: 300px;
  height: 422px;
  flex-shrink: 0;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 50px;
}

.advice_text {
  display: flex;
  flex-direction: column; /* Make vertical direction */
  margin-left: 30px; /* Adjust margin as needed */
  margin-bottom: 50px;
}

.advice_1 h2 {
  margin-top: 50px;
  color: #00d8ff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
}

.advice_1 p {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.advice_2 {
  display: flex;
  align-items: center;
  flex-direction: row; /* Keep horizontal direction */
  margin-bottom: 140px;
}





.advice_2 h2 {
  margin-top: 50px;
  color: #00d8ff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
}

.advice_2 p {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.advice_3 {
  display: flex;
  align-items: center;
  flex-direction: row; /* Keep horizontal direction */
  margin-bottom: 140px;
}




.advice_3 h2 {
  margin-top: 50px;
  color: #00d8ff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
}

.advice_3 p {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.advice_4 {
  display: flex;
  align-items: center;
  flex-direction: row; /* Keep horizontal direction */
  margin-bottom: 140px;
}



.advice_4 h2 {
  margin-top: 50px;
  color: #00d8ff;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
  white-space: nowrap;
}

.advice_4 p {
  color: #000000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
