.page_mine {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.mine_header {
  text-align: center;
  margin-bottom: 20px;
}

.mine_header h1 {
  color: #00d8ff;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.cards-container {
  display: flex; /* Flexbox를 활용하여 자식 요소들을 수평으로 배치 */
  justify-content: space-between; /* 요소들 사이에 공간을 균등하게 배분 */
  align-items: flex-start; /* 요소들을 컨테이너의 시작점에 맞춤 */
}

.hi-card,
.date-card,
.profile_mypage_bear {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.date-card {
  width: 500px;
  height: 800px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 3px solid rgba(0, 216, 255, 0.66);
  background: #fff;
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.hi-card svg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.greeting_mine p {
  color: #00a8ff;
  margin-bottom: 10px;
}

.extra-space_api {
  height: 200px; /* 추가적인 공간을 확보 */
}

.profile_mypage_bear {
  width: 435.357px;
  height: 437.09px;
  flex-shrink: 0;
}
