.back {
  position: absolute;
  position: relative;
  width: 100%; /* 가로로 길게 설정 */
  height: auto; /* 필요에 따라 높이 설정 */
  display: inline-block;
}

.text_1 {
  position: absolute;
  bottom: 20px;
  left: 0;
  margin-left: 20px; /* 예시로 20px로 수정 */
  transform: translate(0, 0);
  color: white;
  font-size: 50px;
  font-weight: 700;
  width: 70%;
  text-align: left;
  line-height: 1.2; /* 줄 간격 조정 */
  padding-bottom: 30px; /* 하단에 여백 추가 */
}

.introduce {
  position: absolute;
  margin-left: 100px;
  font-family: 'Namugothic'; /* 따옴표로 감싸주세요 */
  font-size: 30px; /* 단위가 누락되어 있습니다. px를 추가해주세요 */
  font-weight: 700; /* 대소문자가 잘못되었습니다. */
  text-align: left; /* 'left' 대신 left를 사용해주세요 */
  color: #00d8ff; /* 따옴표를 제거해주세요 */
}
.back {
  margin-bottom: 400px; /* 예시로 20px 추가 */
}

@media (max-width: 768px) {
  .text_1 {
    font-size: 30px;
    width: 90%;
    padding-bottom: 20px;
    left: 10px;
  }

  .introduce {
    font-size: 20px;
    width: 90%;
    padding: 10px;
    left: 10px;
    margin-left: 0;
  }

  .back {
    margin-bottom: 200px; /* 태블릿에서 여백 조정 */
  }
}