@media only screen and (max-width: 767px) {
    body {
        font-size: 14px;
    }
    .container {
        width: 95%;
    }
}

/* 중간 화면 (태블릿) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    .container {
        width: 90%;
    }
}
