.examtable {
  align-items: center;
  width: 100%; /* 너비를 화면에 맞게 조절 */
  max-width: 1300px; /* 최대 너비 설정 */
  min-width: 1300px; /* 최소 너비 설정, 필요에 따라 조정 가능 */
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 180px;
  border: 2px solid #0056b3;
  background: #fff;
  margin-bottom: 50px;
}

.examtable th,
.examtable td {
  border: 1px solid #0056b3;
  padding: 8px;
  text-align: center;
  color: #00244b;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.examtable th {
  background-color: #00d8ff;
}

.English {
  color: blue;
}

.Chinese {
  color: rgb(67, 0, 0);
}

.Japanese {
  color: red;
}
