.container {
  margin-top: 50px;
  width: 1400px;
  height: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: start;
  border-radius: 30px;
  border: 3px solid #00d8ff;
  background: #00d8ff;
  padding: 20px;
  margin-left: 10px;
  overflow: hidden;
  margin-left: 100px;
}

.card {
  margin: 20px;
  border-radius: 30px;
  border: 5px solid #00d8ff;
  background: #fff;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.tag {
  margin-top: 10px;
  text-align: center;
  color: #000f75;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 800;
}

.tag p {
  margin-top: 25px;
  text-align: center;
  color: #000f75;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 900;
}
